# Source files
# ============
*.pxd		text
*.py 		text
*.py3 		text
*.pyw 		text
*.pyx  		text

# Binary files
# ============
*.db		binary
*.p 		binary
*.pkl 		binary
*.pyc 		binary
*.pyd		binary
*.pyo 		binary

# Linguist settings
*.py linguist-language=Python
pixi/static/css/pixi.css linguist-vendored=false
